# Auto detect text files and perform LF normalization
* text=auto

*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.properties text eol=lf
*.md text eol=lf
*.gradle text eol=lf
*.kts text eol=lf
*.sh text eol=lf

# Binary files
*.jar binary
*.png binary
*.dat binary
*.nbt binary
*.mcstructure binary
